h2 {
    color: rgb(202, 102, 71);
    font-family: "Lucida Handwriting";
    font-weight: bold;
  font-size: 50px

}

p1 {
    color: rgb(26, 6, 0);
    line-height: 50 px;
    text-align: center;
    line-height: 2;
    font-size:15px;

}

h5 {
    color: rgb(26, 6, 0);
    font-family: "Lucida Handwriting";
    font-weight: bold;
    

}

a { 
    color: rgb(202, 102, 71);
    text-align: center;
}

footer{
    background-color: black;

}